img{
    border: 2px solid #000;
}

.border{
    border: 2px solid #000;
}

.bg-gray{
    background-color: #e0e0e0;
}

.seperator{
    padding: 10px 0;
    border-top: 1px solid gray;
    margin: 30px 10px;
}

.blank-space{
    padding: 10px 0;
    margin: 30px;
}

.oi{
    color:#000;
}

nav{
    z-index: 100;
}
